body {
    height: 1000px;
    background-color: #595959;
    font-family: 'Righteous', cursive;
  }

  .navbar {
    background-color: #5C9CC0;
  }

  .navTitle {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size: 35px;
    color: white;
  }

  .birdLogo {
    padding-left: 10px;
    height: 35px;
    width: 45px;
  }

  .centreImage {
    position: relative;
    height: 440px;
    width: 514px;
    z-index: 2;
  }

  .container {
    width: 514px;
    height: 440px;
    margin: 150px auto;
    z-index: 2;
  }

  .container h1 {
    position: absolute;
    top: 100px;
    font-family: 'Righteous', cursive;
    text-align: center;
    color: white;
    font-size: 80px;
    z-index: 999;
  }

  .container h2 {
    text-align: center;
    margin: 32px auto;
    color: #EDEDED;
    font-size: 35px;

  }

  .initBtnOne,
  .initBtnTwo {
    display: flex;
    padding: 30px 60px 30px 60px;
    margin: 30px 10px 0 10px;
    justify-self: center;
    justify-items: center;
    background: linear-gradient(180deg, #929292 0%, rgba(33, 33, 33, 0) 100%);
    border-radius: 8px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    color: #EDEDED;
  }

  .initButtons {
    display: flex;
    justify-content: center;
  }

  /* stay in screen */
  header {
    display: none;
    margin: 40px 50px 20px 50px;
    height: 60px;
    padding: 10px 0 14px 18px;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    border-radius: 4px;
    background: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(20px);
  }

  .contain {
    display: none;
    width: 400px;
    margin: 0 0 0 50px;
    z-index: 2;
  }

  .table {
    width: 369px;
    border-radius: 4px;
    font-size: 24px;
    background-color: #737373;
    color: #EDEDED;
    z-index: 2;
  }

  .tableHeader th {
    background-color: #525252;
    color: #EDEDED;
    border-color: #363636;
    border-radius: 4px;
    z-index: 2;
  }

  .tableContent th {
    background-color: #888888;
    color: #EDEDED;
    border-color: #363636;
    border-radius: 4px;
    z-index: 2;
  }

  .searchBtn {
    background: linear-gradient(180deg, #929292 0%, rgba(33, 33, 33, 0) 100%);
    border-radius: 8px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    color: #EDEDED;
    margin: 40px 0 0 255px;
    z-index: 2;
  }

  .costRefine,
  .locRefine,
  .timeRefine {
    position: relative;
    background-color: #525252;
    height: 50px;
    width: 369px;
    border-radius: 4px;
  }

  .timeRefine span,
  .locRefine span,
  .costRefine span {
    position: absolute;
    left: 16px;
    font-size: 24px;
    color: #EDEDED;
  }

  .refineBtn {
    background-color: #888888;
    border-color: #888888;
    color: #EDEDED;
  }

  /* Results container */
    .results {
    display: none;
    margin: 12px 62px 0 0;
    background-color: grey;
    border-radius: 4px;
  }

  @media screen and (max-width: 1120px) {
    .results {
      margin-left: 50px;
    }
  }

  @media screen and (max-width: 940px) {

    /* Initial screen */
    .container h1 {
      position: absolute;
      top: 55px;
      right: 20px;
      font-size: 31px;
      font-family: 'Righteous', cursive;
    }

    .container h2 {
      font-size: 16px;
    }

    .container {
      width: 240px;
      height: 190px;
      margin: 100px auto;
    }

    .centreImage {
      height: 190px;
      width: 240px;
    }

    .initBtnOne,
    .initBtnTwo {
      font-size: 16px;
      padding: 5px 25px 5px 25px !important;
      border-radius: 4px;
    }

    .navTitle {
      display: none;
    }

    .navbar-burger {
      color: white;
    }

    /* stay in screen */

    .table {
      margin: 0 auto;
    }

    .searchBtn {
      margin: 20px auto;
      display: flex;
      justify-self: center;
    }

    .contain {
      margin: 0 auto;
      justify-items: center;
    }

    .results {
      margin-left: 16px;
      margin-right: 16px;
    }

    .costRefine,
    .locRefine,
    .timeRefine {
      margin: 16px auto;
    }
  }

 @media screen and (max-width: 770px) {
  header {
    /* display: inline-block; */
    width: 369px;
    margin: 40px auto;
  }
 }