/* All */
html {
  background-color: rgb(32, 32, 32);
}

body {
  font-family: 'Righteous', cursive;
}

/* Initial Page */
/* Navbar */
.navbar {
  visibility: hidden;
  background-color: rgb(32, 32, 32);
}

.navTitle {
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 28px;
  color: #EDEDED;
}

.birdLogo {
  margin: 0 16px 0 4px;
  height: 35px;
  width: 40px;
}

/* Center logo */
.centreImage {
  position: relative;
  height: 440px;
  width: 514px;
  z-index: 2;
}

.container {
  width: 514px;
  height: 440px;
  margin: 70px auto;
  z-index: 2;
}

.container h1 {
  position: absolute;
  top: 100px;
  font-family: 'Righteous', cursive;
  text-align: center;
  color: rgb(220, 220, 220);
  font-size: 80px;
  z-index: 998;
}

.container h2 {
  text-align: center;
  margin: 40px auto;
  margin-bottom: 20px;
  color: rgb(220, 220, 220);
  font-size: 35px;
}

.brandStatement {
  display: none;
}

.hintOne {
  font-size: 14px;
  text-align: center;
  margin: 100px auto;
}

.hintOneImage {
  margin-left: 8px;
  height: 14px;
  width: 14px;
}

/* Explore screen */
/* Header/ Drop down menu */
.header {
  position: relative;
  display: none;
  margin: 20px auto;
  width: 90vw;
  height: 60px;
  background-color: rgb(32, 32, 32);;
  color: white;
  border-radius: 4px;
  font-size: 25px;
  padding: 10px 0 0 18px;
  z-index: 3;
}

.dropMenu {
  position: absolute;
  top: 10px;
  left: 16px;
  z-index: 999;
}

.refreshSect {
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 999;
}

.refreshBtn {
  font-family: Righteous, cursive;
  color: rgb(237, 237, 237);
  font-size: 18px;
}


.dropdown-content {
  background-color: rgb(36, 36, 36);
  padding-bottom: 18px;
}

.refineDrop {
  background-color: rgb(32, 32, 32);
  font-family: 'Righteous', cursive;
  color: #EDEDED;
  font-size: 18px;
  border: none;
}

.refineDrop:hover {
  color: #cecccc;
}

.refineDrop:focus {
  color: #bbbaba;
}

.table {
  width: 300px;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(36, 36, 36);
  color: rgb(125, 125, 125);
}

.tableHeader th {
  background-color: rgb(32, 32, 32);
  color: rgb(179, 179, 179) !important;
  border-color: rgb(32, 32, 32);
  border-radius: 4px;
  font-weight: 300;
}

.tableContent th {
  background-color: rgb(36, 36, 36);
  color: rgb(179, 179, 179);
  border-color: #363636;
  border-radius: 4px;
  font-weight: 300;
}

.costRefine,
.locRefine {
  position: relative;
  background-color: rgb(36, 36, 36);
  height: 41px;
  width: 300px;
  border-radius: 4px;
}

.locRefine span,
.costRefine span {
  position: absolute;
  left: 16px;
  font-size: 16px;
  color: rgb(179, 179, 179);
}

.refineBtn {
  padding: 20px 12px 19px 12px !important;
  margin: 0 !important;
  background-color: rgb(36, 36, 36);
  border-color: rgb(36, 36, 36);
  color: rgb(179, 179, 179);
}

.refineSearch {
  margin-top: 12px;
  background-color: rgb(80, 63, 255);
  color: #EDEDED;
  font-family: 'Righteous', cursive;
  font-size: 16px;
  border-color: rgb(80, 63, 255);
  border-radius: 4px !important;
}

.refineSearch:hover {
  background-color: rgb(65, 49, 250);
  border-color: rgb(65, 49, 250);
  color: #EDEDED;
}

.refineSearch:focus {
  background-color: rgb(65, 49, 250);
  border-color: rgb(65, 49, 250);
  color: #EDEDED;
}

/* Results container */
  .results {
  display: none;
  width: 90vw;
  height: 80vh;
  margin: 10px auto;
  background-color: rgb(32, 32, 32);
  border-radius: 4px;
}

/* Individual results containers */
#resultOne {
  position: relative;
  background: rgb(32, 32, 32);
  padding: 16px !important;
}

.prettyPic {
  float: right;
  max-height: 150px;
  /* max-width: 150px; */
  width: auto;
  opacity: 1;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 0 8px 8px;
}

.nameClassTitle {
  color: grey;
}

.hoLine {
  background-color: grey !important;
  margin-top: 8px;
}

.nameClass {
  text-decoration: underline;
  margin-bottom: 8px;
}

.descClass {
  background-color: rgb(36, 36, 36);
  width: 100%;
  padding: 16px;
  border-radius: 4px;
}

.webClass {
  font-family: Righteous, cursive;
  color: rgb(237, 237, 237);
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 24px;
} */

/* No results modal */

.modalOne {
  z-index: 999;
}
.modal-background {
  background-color: rgb(32, 32, 32, 0)
}

.modal-contentOne {
  width: 300px;
  height: 165px;
  margin: 200px auto;
  background-color: rgb(249, 247, 247);
  border-radius: 4px;
  padding: 16px;
  justify-content: center;
  font-family: 'Righteous', cursive;

}
.modal-contentOne
 p {
  margin-top: 10px;
  color: rgb(26, 26, 26);
  text-align: center;
}
.okayBtn {
  display: flex;
  justify-content: center;
}
.okay {
  margin-top: 25px;
  justify-items: center;
  justify-self: center;
  font-family: 'Righteous', cursive;
}
.okayImage {
  margin-left: 8px;
  height: 16px;
  width:16px;
}

/* Loading animation */

.modalTwo {
  visibility: hidden;
}

.load {
  animation: rotation 1.5s infinite linear;
}

.modal-contentTwo {
  margin: 300px auto;
  text-align: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/* Mobile responsiveness */
@media screen and (max-width: 940px) {

  /* Initial screen */
  .container h1 {
    position: absolute;
    top: 55px;
    right: 20px;
    font-size: 31px;
    font-family: 'Righteous', cursive;
  }

  .container h2 {
    font-size: 16px;
  }

  .container {
    width: 240px;
    height: 190px;
    margin: 100px auto;
  }

  .centreImage {
    height: 190px;
    width: 240px;
  }

  .navTitle {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .nameClass,
  .descClass,
  .webClass {
    clear: both;
  }
  .prettyPic {
    float: none;
    margin: 0;
  }
}