  /* All */
  html {
    background-color: rgb(32, 32, 32);
  }
  body {
    /* height: 1000px; */
    background-color: rgb(32, 32, 32);
    font-family: 'Righteous', cursive;
  }

  /* Initial Page */
  /* Navbar */
  .navbar {
    visibility: hidden;
    background-color: #5C9CC0;
  }

  .navTitle {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size: 35px;
    color: white;
  }

  .birdLogo {
    margin: 0 16px 0 4px;
    height: 35px;
    width: 45px;
  }

  /* Center logo */
  .centreImage {
    position: relative;
    height: 440px;
    width: 514px;
    z-index: 2;
  }

  .container {
    width: 514px;
    height: 440px;
    margin: 150px auto;
    z-index: 2;
  }

  .container h1 {
    position: absolute;
    top: 100px;
    font-family: 'Righteous', cursive;
    text-align: center;
    color: white;
    font-size: 80px;
    z-index: 998;
  }

  .container h2 {
    text-align: center;
    margin: 32px auto;
    color: #EDEDED;
    font-size: 35px;

  }

  /* Initial page buttons */
  .initBtnOne,
  .initBtnTwo {
    display: flex;
    padding: 30px 60px 30px 60px;
    margin: 30px 10px 0 10px;
    justify-self: center;
    justify-items: center;
    background-color: rgb(50, 50, 50);
    border-radius: 4px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    color: #EDEDED;
  }

  .initButtons {
    display: flex;
    justify-content: center;
  }

  /* Explore screen */
  /* Header/ Drop down menu */
  .header {
    position: relative;
    display: none;
    margin: 20px auto;
    width: 90vw;
    height: 60px;
    background-color: rgb(32, 32, 32);;
    color: white;
    border-radius: 4px;
    font-size: 25px;
    padding: 10px 0 0 18px;
    z-index: 3;
  }

  .dropMenu {
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 999;
  }

  .dropdown-content {
    background-color: rgb(50, 50, 50);
    padding-bottom: 18px;
  }

  .refineDrop {
    background-color: rgb(32, 32, 32);
    font-family: 'Righteous', cursive;
    color: #EDEDED;
    font-size: 18px;
    border: none;
  }

  .refineDrop:hover {
    color: #cecccc;
  }

  .refineDrop:focus {
    color: #bbbaba;
  }

  .table {
    width: 300px;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(32, 32, 32);
    color: rgb(125, 125, 125);
  }

  .tableHeader th {
    background-color: rgb(32, 32, 32);
    color: rgb(179, 179, 179) !important;
    border-color: rgb(32, 32, 32);
    border-radius: 4px;
    font-weight: 300;
  }

  .tableContent th {
    background-color: rgb(80, 80, 80);
    color: rgb(179, 179, 179);
    border-color: #363636;
    border-radius: 4px;
    font-weight: 300;
  }

  .costRefine,
  .locRefine,
  .timeRefine {
    position: relative;
    background-color: rgb(80, 80, 80);
    height: 41px;
    width: 300px;
    border-radius: 4px;
  }

  .timeRefine span,
  .locRefine span,
  .costRefine span {
    position: absolute;
    left: 16px;
    font-size: 16px;
    color: rgb(179, 179, 179);
  }

  .refineBtn {
    padding: 20px 12px 19px 12px !important;
    margin: 0 !important;
    background-color: rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
    color: rgb(179, 179, 179);
  }

  .refineSearch {
    margin-top: 12px;
    background-color: #5C9CC0;
    color: #EDEDED;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    border-color: #5C9CC0;
    border-radius: 4px !important;
  }

  .refineSearch:hover {
    background-color: #4692bf;
    border-color: #4692bf;
    color: #EDEDED;
  }

  .refineSearch:focus {
    background-color: #3787b6;
    border-color: #3787b6;
    color: #EDEDED;
  }

  /* Results container */
    .results {
    display: none;
    width: 90vw;
    height: 80vh;
    margin: 10px auto;
    background-color: rgb(32, 32, 32);
    border-radius: 4px;
  }

  /* Individual results containers */
  #resultOne,
  #resultTwo,
  #resultThr,
  #resultFou {
    position: relative;
    background: rgba(50, 50, 50);
    padding: 16px !important;
  }
  hr {
    margin: 16px 0 16px 0;
    background-color: rgb(32, 32, 32);
  }
  
 /* Mobile responsiveness */
  @media screen and (max-width: 940px) {

    /* Initial screen */
    .container h1 {
      position: absolute;
      top: 55px;
      right: 20px;
      font-size: 31px;
      font-family: 'Righteous', cursive;
    }

    .container h2 {
      font-size: 16px;
    }

    .container {
      width: 240px;
      height: 190px;
      margin: 100px auto;
    }

    .centreImage {
      height: 190px;
      width: 240px;
    }

    .initBtnOne,
    .initBtnTwo {
      font-size: 16px;
      padding: 5px 25px 5px 25px !important;
      border-radius: 4px;
    }

    .navTitle {
      display: none;
    }
  }